.form-container {
  width: 40%;
}

.form {
  margin-left: 20px;
}

.title {
  margin: 30px 0px;
  margin-left: 20px;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--primary);
}

.form-field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price-row {
  display: flex;
  align-items: center;
}
.radio-group {
  color: var(--primarytext);
}

.image-btn {
  color: var(--accent);
  margin-left: 20px;
}