<div class="main-container">
  <div class="title">Add new product:</div>
  <div class="form-container">
    <form class="example-form">
      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Price</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-radio-group>
        <mat-radio-button value="false">/Kg</mat-radio-button>
        <mat-radio-button value="true">Each</mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
</div>
