<div class="main-container">
  <div class="title"></div>
  <div class="button-row">
    <mat-button-toggle-group [formControl]="modeControl" name="mode-selector">
      <mat-button-toggle value="Add">Add a product</mat-button-toggle>
      <mat-button-toggle value="Modify">Modify a product</mat-button-toggle>
      <mat-button-toggle value="Select">Select current products</mat-button-toggle>
      <mat-button-toggle value="Delete">Delete a product</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
